<% if @submitted_answer ==  @answer%>
  <h1>Correct!</h1>
<% else %>
  <h1>Sorry, the answer is<br><br><%= @answer %></h1>
<% end %>

<form action="/riddle">
  <button type="submit" name="play_again">Riddle me this?</button>
</form>
