<form action="/answer_input" method="post">
  <label for="submitted_answer">
    <input type="text" name="submitted_answer" required>
    <button type="submit" name="Submit">Submit</button>
  </label>
</form>
